* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

header {
    background-color: cyan;
    background-image: url(img/pattern.png);
    /*background-repeat: repeat;*/
    background-size: 30%;

}

header img {
    width: 200px;
    margin-top: 50px;
}

span {
    color: aqua;
}

h6 {
    margin-bottom: 20px;
}

.paragraph {
    margin-bottom: 20px;
    font-size: 10px;
}

.paragrafo-2 {
    margin-bottom: 20px;
}

ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

table {
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}

.lungo {
    width: 50%;
}
.azzurro{
    background-color: rgba(15, 123, 223, 0.478);
}
.celeste{
    background-color: rgba(103, 169, 231, 0.478);
}
footer h4{
    margin-top: 20px;
    color: gray;
}
.img1{
    color: whitesmoke;
    background-image: url(img/monitor.jpg);
    width: 300px;
    height: 200px;
    margin-top: 20px;
    margin-left: 10px;
}
.img2{
    color: whitesmoke;
    background-image: url(img/graph.jpg);
    width: 300px;
    height: 200px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
   
}
.dopo-lista span{
    background-color: rgba(233, 236, 51, 0.895);
    color: black;
}

